body{
    background: rgb(240, 199, 255);
}
.telo{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px ;
    background:linear-gradient(180deg,#c72eff, #470061) ;
    border-radius: 60px;
}
.list{
    background:linear-gradient(180deg,#f0c7ff, #cf4cff) ;
    padding: 15px;
    margin: 40px 40px 40px 0;
    font-size: 20px;
    border-radius: 30px;
}
p{
    display:flex;
    justify-content: center;
    margin: 0;
    font-size: 25px;
}